doctype html
html
  head
    title Reparações de Automóveis
    meta(charset='UTF-8')
    link(rel='stylesheet' href='/stylesheets/w3.css')
  body.w3-light-grey
    header.w3-dark-grey
      h1.w3-jumbo Gestor de Reparações de Automóveis
    main.w3-container
      block content
    footer.w3-dark-grey
      p &copy; 2026 - Oficina de Reparações
